* {
  background-color: crimson;
  opacity: 0.9;
}

.container {
  width: auto;
  height: auto;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: teal;
  color: white;
  display: flex;
  font-size: 200px;
  align-items: center;
  justify-content: center;
}
